# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
envs/*.tfvars
!envs/*.tfvars.example
crash.log
override.tf
override.tf.json

# Ansible
ansible/inventory/hosts.yml
ansible/.vault_pass
*.retry

# Environment / secrets
.env
*.pem
*.key

# OS
.DS_Store
Thumbs.db
